<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <?= $this->headMeta(); ?>
        <?= $this->doctype(); ?>
        <?= $this->headTitle(); ?>
        <?= $this->headLink(); ?>
        <?= $this->headScript(); ?>

        <!--[if IE ]><style type="text/css" media="all">@import "assets/css/ie.css";</style><![endif]-->
        <!--[if IE 7]><style type="text/css" media="all">@import "assets/css/ie7.css";</style><![endif]-->

        <script type="text/javascript">

            var layout;
            var arr_local = location.href.split('/');
            var base_url = 'http://'+arr_local[2]+'/'+arr_local[3];

            $(document).ajaxStart(function(){$.blockUI({
                message: '<img src="assets/images/carregando.gif" width="25" height="25" /> <b>Carregando...</b>'
            });
            }).ajaxStop(function(){
                $.unblockUI();
            });

            $(document).ready(function() {

                layout = $("body").layout({
                    applyDefaultStyles: true
                    , north__spacing_open: 0
                    , south__spacing_open: 0
                });

                $('a.tooltip').cluetip({splitTitle: '|'});

                $('a.tooltip_complet').cluetip({
                    local:true,
                    sticky: true,
                    closePosition: 'title',
                    closeText: 'Fechar',
                    hoverIntent: true,
                    mouseOutClose: true,
                    positionBy: 'auto',
                    leftOffset: -100,
                    topOffset: -10
                });
                
                $('.menu li').click(function(e) {
                    $('.menu li').removeClass('active');
                    
                    if ($(this).attr('rel') != undefined){
                        var params;
                        if ($(this).attr('params') == undefined){
                            params = {};
                        } else {
                            params = {'params' : $(this).attr('params')};
                        }

                        requestAjax($(this).attr('rel') + '/index', params, 'GET', '#conteudo');
                        
                        if (!$(this).hasClass('active')) {
                            $(this).addClass('active');
                        }

                        $('#migalha').html($(this).parent().parent().find('.menu-titulo').html() + ' > ' + $(this)[0].innerText);
                    } else {
                        //nao e link
                    }
                });

            });

        </script>


    </head>
    <body>
        <?php if( !empty($this->layout()->msg) ) {
            echo $this->flashMsgUi('info', $this->layout()->msg, true, '8000');
        }
        ?>

        <?php $session = new Zend_Session_Namespace('session_kanban'); ?>

        <!-- <div class="content"> --> <!-- Quando não for abas, for só conteúdo, pode colocar só content -->
<div id="center" class="ui-layout-center">
            
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Kanban para testes</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="menu-titulo">Cadastro</span> <b class="caret"></b></a>
            <ul class="menu dropdown-menu">
                <li rel="usuarios"><a href="#">Usuários</a></li>
                <li rel="projetos"><a href="#">Projetos</a></li>
                <li rel="tarefas"><a href="#">Tarefas</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="menu-titulo">Quadro</span> <b class="caret"></b></a>
            <ul class="menu dropdown-menu">
                <?php foreach ($this->projetos as $key => $value) { ?>
                    <li rel="quadro" params="<?=$value['id_projeto']?>"><a href="#"><?=$value['nome']?></a></li>     
                <? } ?>
            </ul>
          </li>
        </ul>
        <ul class="menu nav navbar-nav">
            <li rel="log-movimentacao"><a class="navbar-default" href="#">Log Movimentação</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#loadme" rel="#loadme" class="tooltip_complet" title="Detalhes da Conta">
                        <strong>Login: </strong><?= $session->usuario->login; ?>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="dialogConfirmFunction('Confirmação', 'Deseja realmente sair?', function(){window.location='login/logout'}, 'info')"><strong>SAIR</strong></a>
                </li>
        </ul>
      </div>
    </nav>

    <nav class="navbar navbar-default" role="navigation">
        <a id="migalha" class="navbar-brand" href="#">Início</a>
    </nav>

    <div id="conteudo" style="padding: 10px; height: 80%"></div>

    <div id="loadme">
                <?php if ($session->usuario->nome != '') : ?>
                    Usuário: <?= $session->usuario->nome; ?> <br>
                <?php endif; ?>
                Login: <?= $session->usuario->login; ?>
    </div>
</div>
        <div id="div_janela"></div>
        <div id="bottom" class="ui-layout-south">Sistema desenvolvido por <a target="_blank" href="http://www.facebook.com/erick.veras.7"> Erick Veras</a>. Email contato: erickveras@gmail.com</div>
        <div id="msg-alert"></div>
    </body>

</html>
