<script>

    $('#form_editar').ajaxForm({
        url: 'usuarios/editar'
      , type: 'POST'
      , success: function(o){
        $('#conteudo').append(o);
        $("#div_janela").dialog('close');
          atualizaContent('usuarios/index');
      }
    });

    $("#div_janela").dialog({
        title: 'Editar',
        modal: true,
        height: 160,
        width: 850,
        close : function() {
            //   $(this).dialog('destroy');
            $("#div_janela").html('');
        },
        resizable: false
    });

</script>

<?php

    if(isset($this->msg)){
        exit($this->flashMsgUi($this->msg[0], $this->msg[1], true));
    }
 ?>

<form id="form_editar" class="form-inline" role="form">
    <input type="hidden" name="apelido_inicial" value="<?=$this->usuario['id_apelido_usuario']?>">
    <div class="form-group">
        <label for="inputApelido">Apelido</label>
        <input type="text" class="form-control" name="apelido" id="inputApelido" minlength="4" value="<?=$this->usuario['id_apelido_usuario']?>" required>
    </div>
    <div class="form-group">
        <label for="inputLogin">Nome</label>
        <input type="text" class="form-control" name="nome" id="inputNome" minlength="4" value="<?=$this->usuario['nome']?>" required>
    </div>
    <div class="form-group">
        <label for="inputLogin">Login</label>
        <input type="text" class="form-control" name="login" id="inputLogin" minlength="4" value="<?=$this->usuario['login']?>" required>
    </div>
    <div class="form-group">
        <label for="inputSenha">Senha</label>
        <input type="password" class="form-control" name="senha" id="inputSenha" minlength="4">
    </div>

    <button id="adicionar" type="submit" class="btn btn-default">Salvar</button>
</form>