<script type="text/javascript">

$("table").tablesorter({ sortList: [[1,0]] });

$(document).ready(function() {
    $('.btn-excluir').click(function(){
        requestAjax('usuarios/excluir', {'usuario': $(this).attr('rel')}, 'POST', '#conteudo', false, function(){atualizaContent('usuarios/index')});
    });

    $('.btn-editar').click(function(){
        requestAjax('usuarios/editar', {'usuario': $(this).attr('rel')}, 'GET', '#div_janela', true);
    });

    $('#form_adicionar').ajaxForm({
        url: 'usuarios/adicionar'
      , type: 'POST'
      , success: function() {
            atualizaContent('usuarios/index'); 
        }
    });



});
</script>

<div class="fieldset">
    <form id="form_adicionar" class="form-inline" role="form">
        <div class="form-group">
            <label for="inputApelido">Apelido</label>
            <input type="text" class="form-control" name="apelido" id="inputApelido" minlength="4" value="" required>
        </div>
        <div class="form-group">
            <label for="inputLogin">Nome</label>
            <input type="text" class="form-control" name="nome" id="inputNome" minlength="4" required>
        </div>
        <div class="form-group">
            <label for="inputLogin">Login</label>
            <input type="text" class="form-control" name="login" id="inputLogin" minlength="4" required>
        </div>
        <div class="form-group">
            <label for="inputSenha">Senha</label>
            <input type="password" class="form-control" name="senha" id="inputSenha" minlength="4" required>
        </div>

        <button id="adicionar" type="submit" class="btn btn-default">Adicionar</button>
    </form>
</div>

<div id="dados-menu" style="padding-top: 20px">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Apelido</th>
                <th>Nome</th>
                <th>Login</th>
                <th>Açao</th>
            </tr>
        </thead>
        <tbody>
            <? foreach ($this->usuarios as $key => $usuario) { ?>
            <tr>
                <? foreach ($usuario as $key2 => $item) { ?>
                <td>
                    <?= $item ?>
                </td>
                <? } ?>
                <td>
                    <button id="editar" class="btn-editar" title="Editar" type="button" class="btn btn-default" rel="<?=$usuario['id_apelido_usuario']?>">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button id="excluir" class="btn-excluir" title="Excluir" type="button" class="btn btn-default" rel="<?=$usuario['id_apelido_usuario']?>">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <? } ?>
        </tbody>
    </table>
</div>
<?php 
    if (isset($this->msg)){
        echo $this->flashMsgUi($this->msg[0], $this->msg[1], true);
    }
 ?>