form input[type="checkbox"] {float: none;}

.close_item, .close_item_novo, .close_form {
    margin-top: -10px;
}

.div_rel_agrupado{
    float:left;
    margin-right: 10px;
    margin-left: 20px;
}

.DTTT_container {
    width: auto !important;
    text-align: right;
}