.ui-icon {margin-top: -15px;}
#ui-datepicker-div .ui-timepicker-div dl dt {left: 1px;}

form table.formulario tbody tr td { padding-right: 5px !important;}
table.tablePeriodo {width: 500px !important;}
table.display thead th div.DataTables_sort_wrapper {padding-right: 10px  !important; width: 100% !important;}
form table.formulario {width: auto !important;}

button {margin-right: 5px;}
.topo_os a.close {margin-top: -13px !important;}
.topo a.close {margin-top: -18px !important; margin-right: 10px;}

.tabbar-box li.ui-state-default {width: 40px;}
.tabbar-box li.ui-state-default a {width: 20px; height: 20px; }
.tabbar-box li.ui-state-default a span { margin-top: 3px; cursor: pointer; }
.ui-multiselect li a.action { position: absolute; right: .2em;top: 110%;margin-top: -8px; }