*/**********************************  INICIO GERAL ***********************************/

html { overflow: visible !important; }

body {
    width: 100%;
    height: 100%;
    font: 12px "Trebuchet MS", sans-serif;
    margin: 0px;
    background: #EEE;
    min-width: 980px;
    overflow: visible !important;
}


h1.titulo_modulo {
    border-bottom: 1px solid #DDDDDD;
    color: #666666;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 5px;
}

.blockOverlay {
    background: #fff;
    filter: opacity(alpha=60); /* para o IE */
    -moz-opacity: 0.6; /* para o FireFox */
    opacity: 0.6; /* para o outros Navegadores */
}

.ui-widget-overlay {
    background: #333 !important;
    opacity: 0.6 !important;
}

.content {
    padding: 10px;
    float: left;
    width: 98.5%;
}

a {
    text-decoration: none;
    color: #00386b;
    outline:none;
}

a:hover {
    color: #0081C2;
}

img {
    vertical-align: middle;
    border: none;
}

img.icon_externo {
    margin: -4px 0 0 3px;
}

.msg {width: 100%; float: left;}
.sucesso {color: green;}
.erro {color: red;}
ul.errors li {color: red !important;list-style: none ;}

.cor_font_1{
    color: green;
    font-weight: bold;
}

.cor_font_2{
    color: blue;
    font-weight: bold;
}

.cor_font_3{
    color: red;
    font-weight: bold;
}

#atencao {
    border: 1px dotted red;
    background:#E6FF99;
    padding: 2px 0;
    text-align: center;
}

.botoes_topo {
    width: 100%;
    float: left;
}

#cluetip {
    z-index: 1003 !important;
}

/*label {
  display: block;
}*/

/* INPUT */
/*

input[disabled] {
  color: #999;
  background: #EEE;
}
*/

.dataTables_wrapper {
  min-height:50px !important;
  margin: 10px 0;
}

.dataTables_length select {width: 47px;}

.formulario input[type=text] {padding: 3px;}

.terminal {
    padding-left: 25px;
    background: url(../images/terminal.png) no-repeat 3px;
}

.lockUser {
    padding-left: 25px;
    background: url(../images/block-user.png) no-repeat 3px;
}

.unlockUser {
    padding-left: 25px;
    background: url(../images/unlock-user.png) no-repeat 3px;
}

input[type=text] {
    width: 200px;
}

input[type=submit].consultar {
    padding-left: 25px;
    background: url('../images/iconFind.png') no-repeat 3px;
}

input[type=button].pdf {
    padding-left: 25px;
    background: url('../images/iconPdf.png') no-repeat 3px;
}

input[type=button].csv {
    padding-left: 25px;
    background: url('../images/iconCsv.png') no-repeat 3px;
}

input[readonly] {background: #e7e7e7; color: #999; cursor: default;}
input[readonly]:focus {background: #e7e7e7; color: #999; border: 1px solid #c2c2c2;}

.toolbar{
    /*    border: 1px solid;*/
    margin: 5px 0;
}

input.datepicker {
    width: 90px;
}
input[type=text],
input[type=password],
textarea,
select {
    padding: 2px;
    letter-spacing: 0.5px;
    border: 1px solid #CCC;
    font-size: 10px !important;

}

textarea {
    width: 400px;
    height: 80px;
}

.left { float: left !important; }
.right { float: right !important; }

#top {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    color: #040506;
    background: #EEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE'); /* for internet explorer */
}

#top h1 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}
#top img {
    vertical-align: middle;
}

#itens_topo {
    float: right;
    /*  font-size: 11px;*/
    /*  color: #D0D0D0;*/
}

#user,#servidor, #empresa {
    float: left;
    /*  font-size: 11px;*/
    /*  color: #D0D0D0;*/
}

/***********************************  INICIO MENU ***********************************/
ul.menu.horizontal {
    margin: 0;
    padding: 0;
    height: 25px;
    line-height: 25px;
    font-size: 11px;
    background: #DBDBDB;
    background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DBDBDB)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #EDEDED, #DBDBDB); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#DBDBDB'); /* for internet explorer */
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #AEAEAE;
}

ul.menu.horizontal li {
    float: left;
    line-height: 25px;
    list-style: none;
}

ul.menu.horizontal li a {
    display: block;
    margin: 0 1px;
    padding: 0 10px;
    color: #333;
    line-height: 25px;
}

ul.menu.horizontal li:hover, ul.menu.horizontal li:hover.ativo  {
    background: #EAEAEA;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EAEAEA)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #FFFFFF, #EAEAEA); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EAEAEA'); /* for internet explorer */
}

ul.menu.horizontal li.ativo {
    background: #EAEAEA;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DBDBDB)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #FFFFFF, #DEDEDE); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DBDBDB'); /* for internet explorer */
}

ul.menu.horizontal li:hover > a, ul.menu.horizontal li.ativo > a {
    text-decoration: none;
    margin: 0;
    border-left: 1px solid #AEAEAE;
    border-right: 1px solid #AEAEAE;
}

ul.menu.horizontal li a.icon {
    padding-left: 25px;
}

.icon.information { background: url('../images/icons/information.png') no-repeat 5px; padding-left: 25px;}

ul.menu.horizontal li a.icon.disabled { color: #777; cursor: default; }

ul.menu.horizontal li:hover ul {
    display: block;
}

ul.menu.horizontal ul {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    background: #DBDBDB;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EAEAEA)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #FFFFFF, #EAEAEA); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EAEAEA'); /* for internet explorer */
    border: 1px solid #AEAEAE;
    border-top: none;
}

ul.menu.horizontal ul li {
    float: none;
    display: block;
}

ul.menu.horizontal ul li:hover a {
    margin: 0 1px;
    background: #DDD;
    border: none;
}

#menus .modulo {font-size: 12px !important; color: #00386B !important;}
#menus .modulo .ui-accordion-header {
    height: 25px;
    line-height: 25px;
    background: #E6E6E6 !important;
    border: 0 !important;
    border-bottom: 1px solid #D0D0D0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
}
#menus .modulo .ui-accordion-header a {
    display: block;
    cursor: pointer;
    padding: 0 5px !important;
    color: #000 !important;
    text-shadow: none !important;
    font-size: 12px !important;
    background: #E6E6E6 !important;
}
#menus .modulo .ui-accordion-content {
    background: none !important;
    padding-top: 0em !important;
    filter: none !important; /* for IE */
}
#menus .modulo .ui-icon {
    left: 90%;
}
#menus .modulo a {color: #00386B !important;}

/*.bar {
    padding: 0 5px;
    height: 25px;
    line-height: 25px;
    background: #E6E6E6;
    background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#F0F0F0));  for webkit browsers
    background: -moz-linear-gradient(top, #E6E6E6, #F0F0F0);  for firefox 3.6+
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6E6E6', endColorstr='#F0F0F0');  for internet explorer
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
}

#menus .bar b {
    display: block;
    width: 100%;
    cursor: pointer;
    background: url('../images/minus.gif') no-repeat right center;
}

#menus .bar b.closed {
    background: url('../images/plus.gif') no-repeat right center;
}*/
/***********************************  FIM MENU ***********************************/

/***********************************  INICIO ABAS ***********************************/
.tabs ul.tabbar {
    margin: 0;
    padding: 0;
    width: auto;
    float: left;
}

.tabs ul.tabbar li {
    float: left;
    display: block;
    margin-top: 9px;
    margin-right: 2px;
    list-style: none;
}

.tabs ul.tabbar li a {
    padding: 2px 5px;
    text-decoration: none;
    text-shadow: 1px 1px 2px #FFF;
    background: #DDD;
    background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#BBBBBB)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #DDDDDD, #BBBBBB); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#BBBBBB'); /* for internet explorer */
    border: 1px solid #AAA;
}

.tabs ul.tabbar li.active a {
    background: #FFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#FFFFFF)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #DDDDDD, #FFFFFF); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF'); /* for internet explorer */
    border-bottom: 1px solid #FFF;
    margin-top: 5px;
}

.tabs ul.tabbar li.active a:hover {
    color: #00386b;
    cursor: default;
}

.tabs ul.tabbar li.active a img {
    cursor: pointer;
}

.tabs ul.tabbar li.more {
    margin-right: 5px;
    cursor: pointer;
    height: 15px;
}

.tabs ul.tabbar li.more img {
    float: left;
    margin-top: -2px;
}

.tabs .content {
    padding: 5px;
}

.tabs ul.tabbar-box {
    margin: 0;
    padding: 0 5px;
    height: 25px;
    background: #E6E6E6;
    background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#F0F0F0)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #E6E6E6, #F0F0F0); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6E6E6', endColorstr='#F0F0F0'); /* for internet explorer */
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
}

.tabs ul.tabbar-box li {
    float: left;
    display: block;
    list-style: none;
    margin-top: 4px;
}

.tabs ul.tabbar-box li.more {
    margin: 8px 0 0 3px;
    cursor: pointer;
}

/***********************************  FIM ABAS ***********************************/

/***********************************  INICIO FORM ***********************************/
form {
    padding: 0;
}
form ul.errors {
    margin: 0;
    color: #A00;
    display: inline;
}

label.error {color: red !important;}

form label {
    font-size: 11px;
}

.btnsAlign {text-align: right;}

form .field {
    clear: both;
    margin: 5px 0;
    margin-top: 4px;
}

form .field.buttons {
   margin: 4px -10px -10px;
   padding: 5px;
   text-align: right;
   background: #FFF;
   border-top: 1px solid #AAA;
   border-radius: 8px;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
 }
form .field.inline {
    float: left;
    clear: none;
    margin-right: 20px;
}
form .field.inline label {
    display: block;
    float: none;
}

form .field.inline label.label_check {
    display: inline;
}

form .field.inline ul {
    margin-left: 0;
}
form input:focus {
    background: #FDFCD9;
    border: 1px solid #7397BA;
}

form select:focus {
    background: #FDFCD9;
    border: 1px solid #7397BA;
}

/* form input, form select, form textarea {margin-bottom: 3px;} */

form table input[type="checkbox"] {margin-top: 0px !important;}/*margin-top: 2px !important;*/
form input[type="checkbox"] {float: left; margin-top: 0px; margin-left:  -1px;}/*margin-top: -2px*/
form#form-visualizar-log-p {margin-bottom: 10px;}

form table.formulario tbody tr td {width: auto !important; padding-right: 10px;}
form table.tablePeriodo {background: #F0F0F0; padding: 5px; width: 500px; margin-bottom: 10px;}

form.formularioWindow {width: 100%;}
form.formularioWindow label {width: 100%; float: left; margin: 5px 0 0;}
form.formularioWindow label.error {margin: 0;}
form.formularioWindow input[type='submit'] {margin-top:  5px; float: right;}
form.formularioWindow select {width: 200px;}
form.formularioWindow ul {width: 200px; float: left; margin:0; padding: 0;;}
form.formularioWindow ul li {list-style: none; with: auto; float: left;}
form.formularioWindow ul li input[type='text'] {width: 160px; float: left; margin-top: 2px;}
form.formularioWindow ul li a:hover, a#add_option:hover {text-decoration: none;}
form.formularioWindow ul li a, #add_option, .add_option, .rem_option {
    padding: 3px;
    font-size: 12px !important;
    cursor: pointer;
    border: 1px solid #BBB;
    border-radius: 4px;
    background: #EEE;
    box-shadow: 1px 1px 2px #BBB;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#CCCCCC));
    background: -moz-linear-gradient(top, #EEEEEE, #CCCCCC);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 1px 1px 2px #BBB;
    -webkit-box-shadow: 1px 1px 2px #BBB;
    width: auto;
    float: left;
    margin-top: 2px;
    text-align: center;
}

form.formularioWindow .labelOpcoes {width: 210px; float: left;}
#condicao_teste select {width: 60px !important;}

.erroPV {width: 100%; float: left; display: block; color: red; display: none;}

.fieldset {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    border-style: solid;
}

/*.fieldset:hover {
    color: #ddd;
}*/

.fieldset:after {
    content: "Adicionar";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#migalha {
    font-size: 12px;
    padding: 0px 0px 0px 15px;
    color: #777;
    font-weight: bold;
}

.navbar {
    min-height: 15px;
    margin-bottom: 0px;
}

.form-control {
    height: 25px;
}

.btn {
    padding: 2.5px 12px;
}

/***********************************  FIM FORM ***********************************/




/***********************************  INICIO GRID ***********************************/

.dataTables_filter input {
    width: 60% !important;
}

.fg-toolbar .paging_full_numbers, .fg-toolbar .dataTables_info {
    width: auto !important;
}

.dataTables_length {
    width: 22% !important;
}
.dataTables_filter {
    float: right !important;
    margin-right: 10px !important;
    text-align: right !important;
    width: 36% !important;
}

.dataTable img {
    padding: 5px 0; 
}

/*div.DataTables_sort_wrapper { float: left !important; width: 100%; }*/
/***********************************  FIM GRID  ***********************************/

/***********************************  INICIO CUSTOMIZACAO JQUERY-UI  ***********************************/

.ui-layout-north { padding: 0 !important; border: none !important; }
.ui-layout-south { padding: 5px 10px !important; border: none !important; }
.ui-layout-west { padding: 0 !important; border-top: none !important; }
.ui-layout-center { padding: 0 !important; border-top: none !important; }

.ui-layout-toggler-west-closed, .ui-layout-toggler-closed { background: #999 url('../images/seta_dir.png') no-repeat center !important; }
.ui-layout-toggler-west-open, .ui-layout-toggler-open { background: #999 url('../images/seta_esq.png') no-repeat center !important; }

.ui-layout-toggler-east-closed { background: #999 url('../images/seta_esq.png') no-repeat center !important; }
.ui-layout-toggler-east-open { background: #999 url('../images/seta_dir.png') no-repeat center !important; }

.ui-layout-toggler-north-closed, .ui-layout-seta-down { background: #999 url('../images/seta_down.png') no-repeat center !important; }
.ui-layout-toggler-north-open, .ui-layout-seta-up { background: #999 url('../images/seta_up.png') no-repeat center !important; }

.ui-layout-toggler-south-closed { background: #999 url('../images/seta_up.png') no-repeat center !important; }
.ui-layout-toggler-south-open { background: #999 url('../images/seta_down.png') no-repeat center !important; }

.ui-datepicker-month {margin-right: 2px !important; width: auto !important;}

.ui-datepicker-trigger { cursor: pointer; }

.ui-dialog-title {
    font-size: 12px;
    text-shadow: 0 -1px 1px #888;
    color: #FFF;
}

.ui-accordion-header {
    font-size: 10px !important;
    font-weight: bold !important;
    text-shadow: 0 -1px 1px #254F7A;
    color: #FFF !important;
    background: #5E87B0 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81A8CE', endColorstr='#5E87B0') !important; /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#81A8CE), to(#5E87B0)) !important; /* for webkit browsers */
    background: -moz-linear-gradient(top, #81A8CE, #5E87B0) !important; /* for firefox 3.6+ */
}
.ui-accordion-header a {
    color: #FFF !important;
}
.ui-accordion-content {
    background: #F0F0F0 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0)) !important; /* for webkit browsers */
    background: -moz-linear-gradient(top, #FFFFFF, #F0F0F0) !important; /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F0F0F0') !important; /* for IE */
}
.ui-accordion-content .field.buttons {
    margin: 10px -19px -9px;
    padding: 5px;
    text-align: right;
    background: #FFF;
    border-top: 1px solid #AAA;
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}


.ui-icon {
    float: right;
}

table.display {
    table-layout: auto;
}

table.display thead th div.DataTables_sort_wrapper {padding-right: 10px  !important;}

table.display tbody tr:hover {background: #C0E28D;}
table.display tbody tr:hover td.sorting_1 {background:#96D33C; color: #fff;}
table.display tbody tr:hover a {color: #47700A;}

table.display thead th div.DataTables_sort_wrapper span {
    margin-top: 0 !important;
    top: -2% !important;
}

/* Formatação do DateTime  */

#ui-datepicker-div {border: 1px solid #ccc !important; padding: 5px !important;}

#ui-datepicker-div .ui-timepicker-div dl dt {width: 20px !important; left: 5px; position: absolute !important;}
#ui-datepicker-div .ui_tpicker_time {width: auto !important; height: 20px !important;}
#ui-datepicker-div .ui_tpicker_hour {width: auto !important; margin-bottom: 8px !important;}
#ui-datepicker-div dd.ui_tpicker_hour {border: 1px solid #ccc !important;}
#ui-datepicker-div dd.ui_tpicker_minute {border: 1px solid #ccc !important;}

/* Fim da formatação do DateTime */

/*
#tbl-grid_wrapper .ui-widget-header {
    background: url("../images/ui-bg_highlight-soft_75_5e87b0_1x100.png") repeat-x scroll 50% 50% #5E87B0 !important;
    border: 1px solid #AAAAAA !important;
    color: #FFFFFF !important;
    font-weight: bold !important;
}*/

/*#tabs .ui-widget-header {
    background: #FFF;
    border: 0px;
}

#tabs-preco .ui-widget-header {
    background: #FFF;
    border: 0px;
}*/

.ui-layout-west .ui-widget-content{
    border: 0px !important;
}

.ui-widget-content table a {
    color: #00386B !important;
}

.ui-widget-content table a:hover {
    text-decoration: underline !important;
    color: #7FBA00 !important;
}

.ui-tabs-panel{
    padding: 1px 1px !important;
}

#btn_submit_form label{
    display: none !important;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 0.6em !important;
}

/*****************CONTEUDO INTERNO DAS ABAS******************/

.conteudo_sub_abas {
    width: 97%;
    min-height: 150px;
    margin-top: 10px;
    float: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #7DB536;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: none;
}

.conteudo_sub_abas .topo {
    padding: 10px;
    background: #7199C0;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.conteudo_sub_abas .topo a.close {
    float: right;
    background: url("../images/ui-icons_ffffff_256x240.png") -96px -128px;
    margin-top: -1px;
    height: 16px;
    width: 16px;
    display: block;
    text-indent: -90000px;
}

.conteudo_sub_abas .col1 {
    width: 43%;
    float: left;
    margin: 10px 0;
}

.conteudo_sub_abas .col2 {
    width: 49%;
    float: right;
    margin: 10px 0;
    min-height: 150px;
}

.conteudo_sub_abas .col1 h2, .conteudo_sub_abas .col2 h2 {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px;
    font-size: 140%;
}

.box {
    width: auto;
    margin: 10px 0;
    background: #F7F7F7;
    padding:10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px dotted #ccc;
}

ul.box li {
    list-style: none;
    clear: both;
    margin-bottom: 5px;
}

ul.box li.alert {background: #E7FF9E; font-weight: bolder; padding: 5px; border: 1px dotted #ccc;}

.treeview ul {
    background-color: transparent !important;
}

/*label[for='btn_submit']{
   display: none !important;
}*/
/***********************************  FIM CUSTOMIZACAO JQUERY-UI  ***********************************/

ul#medidor_senha {
    border:0;
    margin-bottom: 4px;
    padding:0;
    list-style-type:none;
    text-align:center;
    display: inline;
}
ul#medidor_senha li {
    display:inline;
    text-align:center;
    padding: 2px 4px;
    margin:0;
    height:14px;
    width:auto;
    font-size:10px;
    color:#adadad;
    text-align:center;
    padding:2px;
    background-color:#F1F1F1;
}

#medidor_senha.strong #ms_fraca, #medidor_senha.strong #ms_media, #medidor_senha.strong #ms_forte  {
	background: #00CC66;
	color: #00CC66;
}

#medidor_senha.medium #ms_fraca, #medidor_senha.medium #ms_media {
	background: #FF6600;
	color: #FF6600;
}

#medidor_senha.medium #ms_fraca, #medidor_senha.medium #ms_media {
	background: #FF6600;
	color: #FF6600;
}

#medidor_senha.weak #ms_fraca {
	background: #FF0000;
	color: #FF0000;
}

#medidor_senha.strong #ms_forte, #medidor_senha.medium #ms_media, #medidor_senha.weak #ms_fraca {
	color:#fff;
}

#medidor_senha.strong #ms_forte, #medidor_senha.weak #ms_fraca {
	color:#fff;
}

#medidor_senha.medium #ms_media {
    color:#fff;
}

.graybar { width: 200px; background:#dddddd; height:3px; }
.colorbar {margin-top:-3px;width:1px;background-image:url(../images/passwordstrength.jpg);height:3px;}
.percent {margin-top:0px;}
.result {color:green; font-family:Tahoma;font-size:11px;}

.div_rel_agrupado{
    float:left;
    margin-right: 10px;
    margin-bottom: 0px;
}

.ul_rel_agrup{
    margin: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0;
    list-style: none;
    list-style: none;
}

.ui-autocomplete {background: #FDFCD9 !important; border: 1px solid #ccc !important;}

ul.lista li {clear: both;}

.tabbar-box li .prev{ float:left; }
.tabbar-box li .next{ float:right;}

#abas-slideshow{ overflow:hidden; width:95%;}
#abas-slideshow ul{ width:3900px;}

#accordion_os .ui-accordion-content a {color: #00386B}

#msg_info {position: fixed; width: auto; max-width: 600px; top: 15px; left: 50%; z-index: 1002 !important; padding: 10px; box-shadow: 1px 1px 2px #BBB !important;}
#msg_info span {color: #333 !important;}

#msg_alert_class {
    background-color: lightyellow;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px #BBBBBB !important;
    left: 50%;
    margin: 10px 0 0 -250px;
    padding: 20px;
    position: absolute;
    width: 500px;
}

#msg_alert_class img {float: left; margin: 10px 10px 0 0;}

.box-alert {
    background-color: lightyellow;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px #BBBBBB !important;
    width: auto;
}

.blockMsg {
    color: #363636 !important;
    width: 250px !important;
    padding: 10px !important;
    font-size: 11px !important;
    z-index: 99999999 !important;
    top: 15px !important;
    left: 50% !important;
    margin-left: -135px !important;
    position: fixed !important;
    
    box-shadow: 2px 2px 2px #BBB !important;
    border-radius: 3px !important;
    border: 1px solid #fcefa1 !important; 
    background: #fbf9ee url(../images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x !important; 
    color: #363636;
}

.ui-buttonset .ui-button {
    margin-right: 3px !important;
    margin-bottom: 5px !important;
}

.DTTT_container {
    float: right;
    width: auto;
    margin-top: 6px;
}

.ColVis {
    float: right;
    width: auto;
}

.TableTools_collection {
    z-index: 99999999;
}

.TableTools_collection .ColVis_Button {
    min-width: 125px;
    text-align: left;
    left: -70px !important;
    float: left;
    position: inherit;
}

td.group {
    background: url("../images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6 !important;
    border-bottom: 1px solid #79B533 !important;
    border-top: 1px solid #79B533 !important;
    cursor: pointer;
}

.collapsed-group .icon {
    background: url("../images/ui-icons_222222_256x240.png") no-repeat scroll -4px -211px transparent !important;
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 5px !important;
}

.expanded-group .icon {
    background: url("../images/ui-icons_222222_256x240.png") no-repeat scroll -20px -211px transparent !important;
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 5px !important;
}

tbody {
    padding-top: 10px;
}


#checkall_menu_show {
    background: url("../images/ui-icons_222222_256x240.png") no-repeat scroll -66px -15px transparent;
}

#checkall_menu_show:hover {
    filter: opacity(alpha=60); /* para o IE */
    -moz-opacity: 0.6; /* para o FireFox */
    opacity: 0.6; /* para o outros Navegadores */
}

#menu_checkall {
    border: 1px solid #CCCCCC;
    display: none;
    top: 58px;
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 150px;
    
}

#menu_checkall li a {
    padding: 8px !important;
    display: block !important;
    text-decoration: none !important;
}

#menu_checkall li a:hover {
    background: #fafafa !important;
    text-decoration: none !important;
}

.CodeMirror-scroll {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EAEAEA;
    margin-top: 10px;
}

.line_erro {
    background-color: #ffd5d5 !important;
}

.line_ativa {
    background-color: #e8f2ff !important;
}

.CodeMirror {
 font-size: 13px !important;   
}

#msg-alert {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 999999;
}

#form-style.ui-helper-reset { line-height: 1.545 !important;} 

.td_totalizador {
    background: url('../images/03_highlight_soft.png') repeat-x scroll 50% 55% #6EA866 !important;
    border: 1px solid #fff  !important;
    color: #fff  !important;
    font-weight: bolder  !important;
    padding: 5px !important;
}

table.normal_grid {
    float: left;
    margin: 15px 0 !important;
}

table.normal_grid thead tr {
    background: url("../images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
}

table.normal_grid thead th {
    padding: 5px !important;
    font-weight: bolder;
    border: 1px solid #D3D3D3;
    color: #555555;
}

table.normal_grid td {
    border: 1px solid #CCCCCC;
    padding: 5px !important;
}

img.button {
    cursor: pointer;
    margin-right: 5px;
    float: left;
}

img.disabled {
    cursor: inherit !important;
    filter: opacity(alpha=25); /* para o IE */
    -moz-opacity: 0.25; /* para o FireFox */
    opacity: 0.25; /* para o outros Navegadores */
}

.minibox {
    width: 25px;
    height: 15px;
    float: left;
    margin-right: 5px;
}

/* Alterando Bootstrap */

/* alterando tooltips */
.ui-cluetip-header {
    font-size: 14px;
    padding: 12px 12px 0px 12px;
}

.ui-dialog .ui-dialog-content {
    padding: 0.5em;
}

/* formatando tables */
table .header:after {
    border-color: #000000 transparent;
    border-style: solid;
    border-width: 0 4px 4px;
    content: "";
    float: right;
    margin-top: 7px;
    visibility: hidden;
}

table .header:hover:after {
    visibility: visible;
}

table .headerSortDown:after, table .headerSortDown:hover:after {
    opacity: 0.6;
    visibility: visible;
}


table .headerSortUp:after {
    border-color: #000000 transparent -moz-use-text-color;
    border-style: solid solid none;
    border-width: 4px 4px medium;
    box-shadow: none;
    opacity: 0.6;
    visibility: visible;
}

/* formatando forms */
.form-inline .form-group {
    vertical-align: bottom;
}

/* input text ficar abaixo do label */
.form-inline .form-control {
    display: block;
}