*{
    margin: 0;
    padding: 0;
}

html, body { height: 100%;}

h1 {
    color: #333333;
    font-size: 180%;
}

.geral{
    min-height: 100%;
    position: relative;
    width: 100%;
    font-size: 11px;
    background: #EEE;
    font-family: sans-serif;
}

.content {
    width:925px;
    margin:0 auto;
    position:relative;
    padding-top: 100px;
}

a {
    text-decoration: none;
    color: #00386b;
}

a:hover {
    text-decoration: underline;
    color: #7FBA00;
}

img {
    vertical-align: middle;
    border: none;
}

input[type=text],
input[type=password] {
    padding: 2px;
    font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    border: 1px solid #CCC;
    width: 200px !important;
}

input[type=submit],
input[type=button],
button {
    padding: 3px 8px;
    font-size: 11px;
    text-shadow: 1px 1px 1px #FFF;
    cursor: pointer;
    background: #EEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#CCCCCC)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #EEEEEE, #CCCCCC); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC'); /* for IE */
    border: 1px solid #BBB;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #BBB;
    -moz-box-shadow: 1px 1px 2px #BBB;
    -webkit-box-shadow: 1px 1px 2px #BBB;
}

input[type=button]:hover,
button:hover {
    color: #000;
    border-color: #444;
}

input[type=submit],
input.submit {
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    color: #FFF;
    background: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#111111)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #666666, #111111); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#111111'); /* for internet explorer */
    border-color: #888;
    float: right;
    margin-top: 5px;
}

input[type=submit]:hover,
input.submit:hover {
    background: #000;
    border-color: #000;
}

#top {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    color: #040506;
    background: #EEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE'); /* for internet explorer */
}

#top h1 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}

/* Menu */
ul.menu.horizontal {
    margin: 0;
    padding: 0;
    height: 25px;
    line-height: 25px;
    font-size: 11px;
    background: #DBDBDB;
    background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DBDBDB)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #EDEDED, #DBDBDB); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#DBDBDB'); /* for internet explorer */
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #AEAEAE;
}

.img_login {
    margin: 0 auto 20px auto;
    width: 300px;
}

/* FORM */
form#form_recupera_senha, form#login {
    margin: 0 auto;
    padding: 20px;
    width: 280px;
    background: #EEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE); /* for firefox 3.6+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE'); /* for internet explorer */
    border: 1px solid #333333;
    box-shadow: 0 0 20px #BBB;
    -moz-box-shadow: 0 0 20px #BBB;
    -webkit-box-shadow: 0 0 20px #BBB;
}

form#form_recupera_senha h1, form#login h1 {
    margin: 0;
    margin-bottom: 20px;
}

form#login h1 img, form#form_recupera_senha h1 img {
    vertical-align: middle;
}

form {
    padding: 0;
}

form ul.errors {
    color: #AA0000;
    margin: 0 !important;
    padding-left: 0;
}

ul.errors {
    float: left;
    list-style: none outside none;
    margin: 0 !important;
    padding: 2px 0;
    width: 300px;
}

form label {
    float: left;
    margin: 3px 5px 0 0;
    font-size: 11px;
    text-align: right;
    width: 100%;
}

form input:focus {
    background: #FDFCD9;
}

#bottom {
    border-top: 1px solid #AAA;
    padding: 5px 0px;
    height: 10px;
    font-size: 10px;
    background: #CCC !important;
    bottom: 0;
    position: absolute;
    width: 100%;
    color: #444;
}

#bottom p {
    padding-left: 10px;
}


.msg {width: 300px; padding: 10px; margin: 20px auto; box-shadow: 1px 1px 2px #BBB !important; background-color:lightyellow; border: 1px solid #ccc;}
.msg img {float: left; margin: 10px 10px 0 0;}

table {
    width: 100%;
}

table td {
    padding-right: 8px;
}
