<?= $this->doctype() ?>

<html>
    <head>
        <?= $this->headMeta(); ?>
        <?= $this->doctype(); ?>
        <?= $this->headTitle(); ?>
        <link type="text/css" media="screen" href="assets/css/login.css" rel="stylesheet" />

        <script type="text/javascript">
            function setFocus(){
                document.getElementById("usuario").focus();
            }
        </script>
        <link rel="icon" href="assets/images/favicon.ico" />
    </head>
    <body onload="setFocus()">
        <div class="geral">
            <div id="top">
                <h1>
                    Projeto Kanban
                </h1>
            </div>
            <ul class="menu horizontal"></ul>

            <div class="content">

                <form action="<?= $this->form->getAction(); ?>" method="<?= $this->form->getMethod(); ?>" id="login">
                    <table border="0">
                        <tr>
                            <td colspan="2">
                                <?= $this->validatorForm($this->form); ?>
                                <?php if (isset($this->msg)) : ?>
                                    <div style="color: red; text-align: center;"><?= $this->msg; ?></div>
                                <?php endif; ?>
                                </td>
                            </tr
                            <tr>
                                <td><label for="usuario">Usuário: </label></td>
                                <td><?= $this->form->usuario->renderViewHelper(); ?></td>
                            </tr>
                            <tr>
                                <td><label for="senha">Senha: </label></td>
                                <td><?= $this->form->senha->renderViewHelper(); ?></td>
                            </tr>
                            <tr>
                                <td colspan="2"><?= $this->form->btn_submit->renderViewHelper(); ?></td>
                            </tr>
                    </table>
                </form>
            </div>

            <div id="bottom" class="ui-layout-south">
                <p>Sistema desenvolvido por <a target="_blank" href="http://www.facebook.com/erick.veras.7"> Erick Veras</a>. Email contato: erickveras@gmail.com</p>
            </div>
        </div>
    </body>
</html>
