<script type="text/javascript">

$(document).ready(function() {

    <? $movimentacoes_drag = json_encode($this->movimentacoes_drag); // fim para inicio
       $movimentacoes_sort = json_encode($this->movimentacoes_sort); ?>; // inicio para fim
     movimentacoes_drag = <?= $movimentacoes_drag ?>;
     movimentacoes_sort = <?= $movimentacoes_sort ?>;

    for(var key in movimentacoes_drag){
        var accept_classes_li = '';
        var movimento = movimentacoes_drag[key]; // inicio
        $("#ul_"+ key).sortable();
        for(var key2 in movimento){

            accept_classes_li += '#li_' + movimento[key2] + ', '; // id inicio
        }

        // retirando ultimo caractere
        accept_classes_li = accept_classes_li.substring(0,(accept_classes_li.length - 2));

        $("#ul_"+ key).droppable({
            activeClass: "activeDrag"
          , accept: accept_classes_li
        });

    }

    $( ".connectedSortable" ).on("change", function( event, ui ) {
        console.log(ui);
        console.log(event);
    } );

    function dragOver(ev){
        console.log('teste');
        console.log(ev.target.id);
    }
});
</script>

<style>
 .connectedSortable { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
 .connectedSortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }
 .activeDrag { border: 2px solid #428bca; background-color: #d3d3d3; opacity: 0.2}
 
 #quadro ul {
     display: block;
     width: 100%;
     height: 100%;
 }
</style>

<?php
    if (isset($this->msg)){
        echo $this->flashMsgUi($this->msg[0], $this->msg[1], true);
    }
 ?>

<table id="quadro" width="100%" height="100%" border="1" class="table table-hover">
    <tr>
        <td></td>
        <? foreach ($this->situacoes as $key => $value) { ?>
            <td rel="<?=$value['id_situacao']?>"><?=$value['descricao']?></td>
        <? } ?>
    </tr>

<? foreach ($this->atividades as $key => $atividade) { ?>
    <tr rel="">
        <td><?=$atividade['descricao']?></td>
        <? for ($i=0; $i < sizeof($this->situacoes); $i++) { ?>
            <td ondragover="dragOver(event);">
                <ul id="ul_atividade_<?=$atividade['id_atividade']?>_situacao_<?=$this->situacoes[$i]['id_situacao']?>" class="connectedSortable">
                <? foreach ($this->tarefas as $key => $tarefa) {
                    if ($tarefa['id_situacao'] == $this->situacoes[$i]['id_situacao'] and $tarefa['id_atividade'] == $atividade['id_atividade']){ ?>
                        <li id="li_atividade_<?=$atividade['id_atividade']?>_situacao_<?=$this->situacoes[$i]['id_situacao']?>" class="dable ui-state-default"><?= $tarefa['Id'] . ' - ' . $tarefa['Assunto'] ?></li>
                    <? } ?>
                <? } ?>
                </ul>
            </td> 
            <? } ?>
    </tr>
<? } ?>
</table>