<script type="text/javascript">

$(document).ready(function() {

    <? $movimentacoes_drag = json_encode($this->movimentacoes_drag); // fim para inicio
       $movimentacoes_sort = json_encode($this->movimentacoes_sort); ?>; // inicio para fim
     movimentacoes_drag = <?= $movimentacoes_drag ?>;
     movimentacoes_sort = <?= $movimentacoes_sort ?>;

    for(var key in movimentacoes_drag){
        var accept_classes_li = '';
        var movimento = movimentacoes_drag[key]; // inicio

        for(var key2 in movimento){

            accept_classes_li += '#li_' + movimento[key2] + ', '; // id inicio
            //$( '#li_' + movimento[key2] ).draggable({ connectToSortable: "#ul_"+ key });
        }

        // retirando ultimo caractere
        accept_classes_li = accept_classes_li.substring(0,(accept_classes_li.length - 2));

        $("#ul_"+ key).droppable({
            activeClass: "activeDrag"
          , accept: accept_classes_li
        });

//console.log(accept_classes_li);
                //$( accept_classes_li ).draggable({ connectToSortable: "#ul_"+ key });
    }

    for(var key in movimentacoes_sort){
        var accept_classes_ul = [];
        var accept_classes_ul_2 = '';
        var movimento = movimentacoes_sort[key];

        for(var key2 in movimento){
            accept_classes_ul_2 += '#ul_' + movimento[key2] + ', ';
            accept_classes_ul.push('#ul_' + movimento[key2]);
        }

        accept_classes_ul_2 = accept_classes_ul_2.substring(0,(accept_classes_ul_2.length - 2));
        //console.log(accept_classes_ul);
        $("#ul_"+ key).sortable();
//        $("#ul_"+ key).sortable({
//            connectWith: accept_classes_ul
//        }).disableSelection();


    }

    $( ".connectedSortable" ).on("change", function( event, ui ) {
        console.log(ui);
        console.log(event);
    } );
});
</script>

<style>
 .connectedSortable { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
 .connectedSortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }
 .activeDrag { border: 2px solid #428bca; background-color: #d3d3d3; opacity: 0.2}
 
 #quadro ul {
     display: block;
     width: 100%;
     height: 100%;
 }
</style>

<?php
    if (isset($this->msg)){
        echo $this->flashMsgUi($this->msg[0], $this->msg[1], true);
    }
 ?>

<table id="quadro" width="100%" height="100%" border="1" class="table table-hover">
    <tr>
        <td></td>
        <? foreach ($this->situacoes as $key => $value) { ?>
            <td rel="<?=$value['id_situacao']?>"><?=$value['descricao']?></td>
        <? } ?>
    </tr>

<? foreach ($this->atividades as $key => $atividade) { ?>
    <tr rel="">
        <td><?=$atividade['descricao']?></td>
        <? for ($i=0; $i < sizeof($this->situacoes); $i++) { ?>
            <td>
                <ul id="ul_atividade_<?=$atividade['id_atividade']?>_situacao_<?=$this->situacoes[$i]['id_situacao']?>" class="connectedSortable">
                <? foreach ($this->tarefas as $key => $tarefa) {
                    if ($tarefa['id_situacao'] == $this->situacoes[$i]['id_situacao'] and $tarefa['id_atividade'] == $atividade['id_atividade']){ ?>
                        <li id="li_atividade_<?=$atividade['id_atividade']?>_situacao_<?=$this->situacoes[$i]['id_situacao']?>" class="dable ui-state-default"><?= $tarefa['Id'] . ' - ' . $tarefa['Assunto'] ?></li>
                    <? } ?>
                <? } ?>
                </ul>
            </td> 
            <? } ?>
    </tr>
<? } ?>
</table>