<script type="text/javascript">

$(document).ready(function() {

 <? $movimentacoes_sort = json_encode($this->movimentacoes_sort); ?>; // inicio para fim

    var movimentacoes_sort = <?= $movimentacoes_sort ?>;

    var dropZoneElements = document.querySelectorAll('#quadro ul');
    var dragElements = document.querySelectorAll('#quadro li');
    var elementDragged = null;
    var zonesCanDrop = [];

    for (var i = 0; i < dragElements.length; i++) {

        // Event Listener for when the drag interaction starts.
        dragElements[i].addEventListener('dragstart', function(e) {
            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text', this.innerHTML);
            elementDragged = this;

            var itemDrag;
            for(var key in movimentacoes_sort){
                itemDrag = this.id.substring(3,(this.id.length));

                if (itemDrag == key){
                    for (var j = 0; j < movimentacoes_sort[key].length; j++) {
                        zonesCanDrop[j] = 'ul_' + movimentacoes_sort[key][j];
                        $('#'+zonesCanDrop[j]).attr('class', 'connectedSortable activeDrag');
                    }
                }
            }

            this.className = "activeDrag";

        });

        // Event Listener for when the drag interaction finishes.
        dragElements[i].addEventListener('dragend', function(e) {
            this.className = "dable ui-state-default";
            elementDragged = null;

            for (var i = 0; i < zonesCanDrop.length; i++) {
                // retirando o marcador da zona
                $('#'+zonesCanDrop[i]).attr('class', 'connectedSortable');
            }

            zonesCanDrop = [];
            console.log('dragend');
        });
    }

    for (var i = 0; i < dropZoneElements.length; i++) {
        // Event Listener for when the dragged element is over the drop zone.
        dropZoneElements[i].addEventListener('dragover', function(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }
            //console.log('dragover');
            return false;
        });

        // Event Listener for when the dragged element enters the drop zone.
        dropZoneElements[i].addEventListener('dragenter', function(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }

            console.log('dragenter');
        });

        // Event Listener for when the dragged element leaves the drop zone.
        dropZoneElements[i].addEventListener('dragleave', function(e) {
            console.log('dragleave');
        });

        // Event Listener for when the dragged element dropped in the drop zone.
        dropZoneElements[i].addEventListener('drop', function(e) {
            if (e.preventDefault){
                e.preventDefault(); 
            }
        
            if (e.stopPropagation){
                e.stopPropagation();
            }

            this.className = "connectedSortable";

            for (var i = 0; i < zonesCanDrop.length; i++) {
                // retirando o marcador da zona
                //$('#'+zonesCanDrop[i]).attr('class', 'connectedSortable');
                // se for a zona correta
                if(zonesCanDrop[i] == this.id){
                    this.appendChild(elementDragged);
                    requestAjax('quadro/salvar', {'itemid': elementDragged.value, 'local': this.id}, 'POST', '#conteudo', false, refresh);
                }
            };

            return false;
        });
    }

    function refresh() {
        elementDragged = null; 
        requestAjax('quadro/index', {params: $('#projeto_id').val()}, 'GET', '#conteudo');
    }




});
</script>

<style>
 .connectedSortable { list-style-type: none; margin: 0; padding: 0 0 2.5em; float: left; margin-right: 10px; }
 .connectedSortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }
 .activeDrag { border: 2px solid #428bca; background-color: #d3d3d3; opacity: 0.2}
 
 #quadro ul {
     display: block;
     width: 100%;
     height: 100%;
 }
</style>

<?php
    if (isset($this->msg)){
        echo $this->flashMsgUi($this->msg[0], $this->msg[1], true);
    }
    $percentual_x = (int) (100 / (sizeof($this->situacoes) + 1) );
    $percentual_y = (int) (100 / sizeof($this->atividades) );
 ?>
<input type="hidden" id="projeto_id" name="projeto_id" value="<?=$this->projeto_id?>"/>
<table id="quadro" width="100%" height="100%" border="1" class="table table-hover">
        <td width="<?=$percentual_x?>%"></td>
        <? foreach ($this->situacoes as $key => $value) { ?>
            <td width="<?=$percentual_x?>%" rel="<?=$value['id_situacao']?>"><?=$value['descricao']?></td>
        <? } ?>
    </tr>

<? foreach ($this->atividades as $key => $atividade) { ?>
    <tr rel="">
        <td height="<?=$percentual_y?>%"><?=$atividade['descricao']?></td>
        <? for ($i=0; $i < sizeof($this->situacoes); $i++) { ?>
            <td>
                <ul id="ul_atividade_<?=$atividade['id_atividade']?>_situacao_<?=$this->situacoes[$i]['id_situacao']?>" class="connectedSortable">
                <? foreach ($this->tarefas as $key => $tarefa) {
                    if ($tarefa['id_situacao'] == $this->situacoes[$i]['id_situacao'] and $tarefa['id_atividade'] == $atividade['id_atividade']){ ?>
                        <li id="li_atividade_<?=$atividade['id_atividade']?>_situacao_<?=$this->situacoes[$i]['id_situacao']?>" class="dable ui-state-default" draggable="true" value="<?=$tarefa['Id']?>">
                            <?= $tarefa['Id'] . ' - ' . $tarefa['Assunto'] ?>
                        </li>
                    <? } ?>
                <? } ?>
                </ul>
            </td> 
            <? } ?>
    </tr>
<? } ?>
</table>