<script>

    $('#form_editar').ajaxForm({
        url: 'projetos/editar'
      , type: 'POST'
      , success: function(o){
        $('#conteudo').append(o);
        $("#div_janela").dialog('close');
          atualizaContent('projetos/index');
      }
    });

    $("#div_janela").dialog({
        title: 'Editar',
        modal: true,
        height: 130,
        width: 550,
        close : function() {
            $("#div_janela").html('');
        },
        resizable: false
    });

</script>

<?php

    if(isset($this->msg)){
        exit($this->flashMsgUi($this->msg[0], $this->msg[1], true));
    }
 ?>

<form id="form_editar" class="form-inline" role="form">
    <input type="hidden" name="id_projeto" value="<?=$this->projeto['id_projeto']?>">
    <div class="form-group">
        <label for="inputNome">Nome</label>
        <input type="text" class="form-control" name="nome" id="inputNome" minlength="4" value="<?=$this->projeto['nome']?>" required>
    </div>
    <div class="form-group">
        <label for="inputDescricao">Descrição</label>
        <input type="text" class="form-control" name="descricao" id="inputDescricao" minlength="4" value="<?=$this->projeto['descricao']?>" required>
    </div>
    <div class="form-group">
        <label for="inputStatus">Status</label>
        <input type="checkbox" class="form-control" name="status" id="inputStatus" <?=$this->projeto['status']?>>
    </div>
    <button id="editar" type="submit" class="btn btn-default">Salvar</button>
</form>