<script type="text/javascript">

$("table").tablesorter({ sortList: [[1,0]] });

$(document).ready(function() {
    $('.btn-excluir').click(function(){
        requestAjax('projetos/excluir', {'projeto': $(this).attr('rel')}, 'POST', '#conteudo', false, function(){atualizaContent('projetos/index')});
    });

    $('.btn-editar').click(function(){
        requestAjax('projetos/editar', {'projeto': $(this).attr('rel')}, 'GET', '#div_janela', true);
    });

    $('#form_adicionar').ajaxForm({
        url: 'projetos/adicionar'
      , type: 'POST'
      , success: function() {
            atualizaContent('projetos/index'); 
        }
    });



});
</script>

<div class="fieldset">
    <form id="form_adicionar" class="form-inline" role="form">
        <div class="form-group">
            <label for="inputApelido">Nome</label>
            <input type="text" class="form-control" name="nome" id="inputNome" minlength="4" value="" required>
        </div>
        <div class="form-group">
            <label for="inputLogin">Descrição</label>
            <input type="text" class="form-control" name="descricao" id="inputDescricao" minlength="4" required>
        </div>
        <button id="adicionar" type="submit" class="btn btn-default">Adicionar</button>
    </form>
</div>

<div id="dados-menu" style="padding-top: 20px">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Status</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <? if (sizeof($this->projetos) > 0) {
            foreach ($this->projetos as $key => $projeto) { ?>
            <tr>
                <? foreach ($projeto as $key2 => $item) { ?>
                <td>
                    <?= $item ?>
                </td>
                <? } ?>
                <td>
                    <button id="editar" class="btn-editar" title="Editar" type="button" class="btn btn-default" rel="<?=$projeto['id_projeto']?>">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button id="excluir" class="btn-excluir" title="Excluir" type="button" class="btn btn-default" rel="<?=$projeto['id_projeto']?>">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <? } } else { ?>
                <tr><td></td><td></td><td></td><td></td><td></td></tr>
            <? } ?>
        </tbody>
    </table>
</div>
<?php 
    if (isset($this->msg)){
        echo $this->flashMsgUi($this->msg[0], $this->msg[1], true);
    }
 ?>