<script type="text/javascript">
$("table").tablesorter({ sortList: [[7]] });
</script>

<div id="dados-menu" style="padding-top: 20px">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id Tarefa</th>
                <th>Situação antiga</th>
                <th>Situação nova</th>
                <th>Atividade antiga</th>
                <th>Atividade nova</th>
                <th>Autor</th>
                <th>Apelido</th>
                <th>Hora Movimento</th>
            </tr>
        </thead>
        <tbody>
            <? if (sizeof($this->log_movimentacoes) > 0) {
            foreach ($this->log_movimentacoes as $key => $movimento) { ?>
            <tr>
                <? foreach ($movimento as $key2 => $item) { ?>
                <td>
                    <?= $item ?>
                </td>
                <? } ?>
            </tr>
            <? } } else { ?>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            <? } ?>
        </tbody>
    </table>
</div>
<?php 
    if (isset($this->msg)){
        echo $this->flashMsgUi($this->msg[0], $this->msg[1], true);
    }
 ?>