<script type="text/javascript">

$("table").tablesorter({ sortList: [[1,0]] });

$(document).ready(function() {
    $('.btn-excluir').click(function(){
        requestAjax('tarefas/excluir', {'tarefa': $(this).attr('rel')}, 'POST', '#conteudo', false, function(){atualizaContent('tarefas/index')});
    });

    $('.btn-editar').click(function(){
        requestAjax('tarefas/janela-editar', {'tarefa': $(this).attr('rel')}, 'GET', '#div_janela', true);
    });

    $('#adicionar').click(function(){
        requestAjax('tarefas/janela-adicionar', {}, 'GET', '#div_janela', true)
    });



});
</script>

<button id="adicionar" type="button" class="btn btn-default">Adicionar</button>

<div id="dados-menu" style="padding-top: 20px">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Assunto</th>
                <th>Descrição</th>
                <th>Projeto</th>
                <th>Responsável</th>
                <th>Tipo</th>
                <th>Atividade</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            <? if (sizeof($this->tarefas) > 0) {
            foreach ($this->tarefas as $key => $tarefa) { ?>
            <tr>
                <? foreach ($tarefa as $key2 => $item) { ?>
                <td>
                    <?= $item ?>
                </td>
                <? } ?>
                <td>
                    <button id="editar" class="btn-editar" title="Editar" type="button" class="btn btn-default" rel="<?=$tarefa['Id']?>">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button id="excluir" class="btn-excluir" title="Excluir" type="button" class="btn btn-default" rel="<?=$tarefa['Id']?>">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            <? } } else { ?>
                <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <? } ?>
        </tbody>
    </table>
</div>
<?php 
    if (isset($this->msg)){
        echo $this->flashMsgUi($this->msg[0], $this->msg[1], true);
    }
 ?>