<script>

    $('#form_adicionar').ajaxForm({
        url: 'tarefas/adicionar'
      , type: 'POST'
      , success: function(o){
        $('#conteudo').append(o);
        $("#div_janela").dialog('close');
        atualizaContent('tarefas/index');
      }
    });

    $("#div_janela").dialog({
        title: 'Adicionar',
        modal: true,
        height: 490,
        width: 400,
        close : function() {
            //   $(this).dialog('destroy');
            $("#div_janela").html('');
        },
        resizable: false
    });

</script>

<?php

    if(isset($this->msg)){
        exit($this->flashMsgUi($this->msg[0], $this->msg[1], true));
    }
 ?>

<form id="form_adicionar" role="form">
    <div class="form-group">
        <label for="winInputNome">Assunto</label>
        <input type="text" class="form-control" name="nome" id="winInputNome" minlength="4" required>
    </div>
    <div class="form-group">
        <label for="winInputDescricao">Descrição</label>
        <textarea class="form-control" name="descricao" id="winInputDescricao" rows="4" cols="50"></textarea>
    </div>
    <div class="form-group">
        <label for="winInputProjeto">Projeto</label>
        <select name="projeto" id="winInputProjeto" class="form-control" required>
            <option value="">Selecione...</option>
            <? foreach ($this->projetos as $key => $value) { ?>
                <option value="<?=$value['id_projeto']?>"><?=$value['nome']?></option>
             <? } ?>
        </select>
    </div>
    <div class="form-group">
        <label for="winInputApelido">Responsável</label>
        <select name="apelido" id="winInputApelido" class="form-control" required>
            <option value="">Selecione...</option>
            <? foreach ($this->usuarios as $key => $value) { ?>
                <option value="<?=$value['id_apelido_usuario']?>"><?=$value['nome']?></option>
             <? } ?>
        </select>
    </div>
    <div class="form-group">
        <label for="winInputTipo">Tipo</label>
        <select name="tipo" id="winInputTipo" class="form-control" required>
            <option value="">Selecione...</option>
            <? foreach ($this->tipos as $key => $value) { ?>
                <option value="<?=$value['id_tipo_tarefa']?>"><?=$value['descricao']?></option>
             <? } ?>
        </select>
    </div>
    <div class="form-group">
        <label for="winInputAtividade">Atividade</label>
        <select name="atividade" id="winInputAtividade" class="form-control" required>
            <option value="">Selecione...</option>
            <? foreach ($this->atividades as $key => $value) { ?>
                <option value="<?=$value['id_atividade']?>"><?=$value['descricao']?></option>
             <? } ?>
        </select>
    </div>
    <input id="adicionar" type="submit" class="btn btn-default" value="Salvar">
</form>