<script>

    $('#form_editar').ajaxForm({
        url: 'tarefas/editar'
      , type: 'POST'
      , success: function(o){
        $('#conteudo').append(o);
        $("#div_janela").dialog('close');
        atualizaContent('tarefas/index');
      }
    });

    $("#div_janela").dialog({
        title: 'Editar',
        modal: true,
        height: 490,
        width: 400,
        close : function() {
            //   $(this).dialog('destroy');
            $("#div_janela").html('');
        },
        resizable: false
    });

</script>

<?php
    if(isset($this->msg)){
        exit($this->flashMsgUi($this->msg[0], $this->msg[1], true));
    }
 ?>

<form id="form_editar" role="form">
    <input type="hidden" name="tarefa" value="<?=$this->tarefa['Id']?>">
    <div class="form-group">
        <label for="winInputNome">Assunto</label>
        <input type="text" class="form-control" name="assunto" id="winInputNome" minlength="4" value="<?=$this->tarefa['Assunto']?>" required>
    </div>
    <div class="form-group">
        <label for="winInputDescricao">Descrição</label>
        <textarea class="form-control" name="descricao" id="winInputDescricao" rows="4" cols="50"><?=$this->tarefa['Descrição']?></textarea>
    </div>
    <div class="form-group">
        <label for="winInputProjeto">Projeto</label>
        <select name="projeto" id="winInputProjeto" class="form-control" required>
            <option value="">Selecione...</option>
            <? foreach ($this->projetos as $key => $value) {
                if ($this->tarefa['Projeto'] == $value['id_projeto']){ $selected = 'selected'; } else { $selected = ''; } ?>
                <option value="<?=$value['id_projeto']?>" <?=$selected?>><?=$value['nome']?></option>
             <? } ?>
        </select>
    </div>
    <div class="form-group">
        <label for="winInputApelido">Responsável</label>
        <select name="apelido" id="winInputApelido" class="form-control" required>
            <option value="">Selecione...</option>
            <? foreach ($this->usuarios as $key => $value) {
                if ($this->tarefa['Responsável'] == $value['id_apelido_usuario']){ $selected = 'selected'; } else { $selected = ''; } ?>
                <option value="<?=$value['id_apelido_usuario']?>" <?=$selected?>><?=$value['nome']?></option>
            <? } ?>    

        </select>
    </div>
    <div class="form-group">
        <label for="winInputTipo">Tipo</label>
        <select name="tipo" id="winInputTipo" class="form-control" required>
            <option value="">Selecione...</option>
            <? foreach ($this->tipos as $key => $value) {
                if ($this->tarefa['Tipo'] == $value['id_tipo_tarefa']){ $selected = 'selected'; } else { $selected = ''; } ?>
                <option value="<?=$value['id_tipo_tarefa']?>" <?=$selected?>><?=$value['descricao']?></option>
             <? } ?>
        </select>
    </div>
    <div class="form-group">
        <label for="winInputAtividade">Atividade</label>
        <select name="atividade" id="winInputAtividade" class="form-control" required>
            <option value="">Selecione...</option>
            <? foreach ($this->atividades as $key => $value) {
                if ($this->tarefa['Atividade'] == $value['id_atividade']){ $selected = 'selected'; } else { $selected = ''; } ?>
                <option value="<?=$value['id_atividade']?>" <?=$selected?>><?=$value['descricao']?></option>
             <? } ?>
        </select>
    </div>
    <input id="editar" type="submit" class="btn btn-default" value="Salvar">
</form>